<h1>Natalius Password Reset</h1>
<p>Dear {{name}}:</p>
<p>
  A request to reset your password was received. If you did not make this request or it was made in error, this email can be ignored. However, if you do need to reset your password, please click
  <a href='{{link}}'>HERE</a>
  to reset your password</p>
<p>If clicking the link does not work, please copy and past the following link into a separate browser window.</p>
<a href='{{link}}'>{{link}}</a>