<h1>Welcome to Natalius</h1>
<h3><i>An app for independent contractors</i></h3>
<p>Dear {{name}}:</p>
<p>
  Thank you for joining Natalius. In order to use your account it is necessary to verify your email address. Please click
  <a href='{{link}}'>HERE</a>
  to verify your email address</p>
<p>If clicking the link does not work, please copy and past the following link into a separate browser window.</p>
<a href='{{link}}'>{{link}}</a>